{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <form method="post"> {% csrf_token %}
            <br/>
          <div class="form-group">
              <a href="/ReadAllProducts/" type="submit" class="btn btn-primary" > Read All products </a>
          </div>
          <div class="form-group">
              <a href="/ReadAllProductsAttributes/" type="submit" class="btn btn-primary" > Read All Products Attributes </a>
          </div>
        </form>
        <div class="row">
            <p>
                {{ urltag }}
            </p>
        </div>
    </div>
{% endblock %}